In [ ]:
請問 Pandas 套件最主要的貢獻是什麼?
Pandas 最重要的貢獻是提出了兩種資料結構：
「DataFrame」和「Series」。Series 是一種一維的資料結構，用來一定序列型的資料。
DataFrame 是二維的資料結構，用表格的形式存放常見的資料內容。

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
print(df.shape)
print(df.size)
print(df.values)
print(df.index)
print(df.columns)
print(df.dtypes)
print(len(df))

(10, 4)
40
[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
RangeIndex(start=0, stop=10, step=1)
Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object
10

In [6]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']

sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']

weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]

rank_list = [8,1,5,4,7,6,2,3]

myopia_list = [True,True,False,False,True,True,False,False]

In [7]:
#1. 將上列 list 依照['name', 'sex', 'weight', 'rank', 'myopia']順序擺入 array，並且資料型態順序擺入[Unicode,Unicode,float,int,boolean]

dt = np.dtype({'names':('name', 'sex', 'weight', 'rank', 'myopia'), 
               'formats':('U10', 'U6', float, int, bool)})
table = np.zeros(8, dtype=dt)
table['name'] = name_list
table['sex'] = sex_list
table['weight'] = weight_list
table['rank'] = rank_list
table['myopia'] = myopia_list

In [8]:
#2.呈上題，將 array 中體重(weight)數據集取出算出全部平均體重
np.mean(table['weight'])

69.8375

In [9]:
#3.呈上題，進一步算出男生(sex 欄位是 boy)平均體重、女生(sex 欄位是 girl)平均體重
np.mean(table['weight'][table['sex'] == 'boy'])

77.18333333333332

In [12]:
np.mean(table['weight'][table['sex'] != 'boy'])

47.8

In [14]:
np.mean(table['weight'][table['sex'] == 'girl'])

47.8